<div>
  <div class="container rounded-2">
    <form [formGroup]="signUpForm" (ngSubmit)="handleFormSubmit()">
      <!-- First Name -->
      <div class="mb-2">
        <label for="firstNameInput" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstNameInput"
          formControlName="firstName"
          placeholder="Enter your First Name"
        />

        @if(signUpForm.controls['firstName'].invalid &&
        signUpForm.controls['firstName'].touched){
        <div class="form-text text-danger">
          @if(signUpForm.controls['firstName'].errors?.['required']){
          <small>This field is required</small>
          }
        </div>
        }
      </div>

      <div class="mb-2">
        <label for="lastNameInput" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastNameInput"
          formControlName="lastName"
          placeholder="Enter your Last Name"
        />

        @if(signUpForm.controls['lastName'].invalid &&
        signUpForm.controls['lastName'].touched){
        <div class="form-text text-danger">
          @if(signUpForm.controls['lastName'].errors?.['required']){
          <small>This field is required</small>
          }
        </div>
        }
      </div>

      <div class="mb-2">
        <label for="emailInput" class="form-label">Gmail</label>
        <input
          type="text"
          class="form-control"
          id="emailInput"
          formControlName="email"
          placeholder="Enter your Email"
        />

        @if(signUpForm.controls['email'].invalid &&
        signUpForm.controls['email'].touched){
        <div class="form-text text-danger">
          @if(signUpForm.controls['email'].errors?.['required']){
          <small>This field is required</small>
          } @if(signUpForm.controls['email'].errors?.["email"]){
          <div class="form-text text-danger">Invalid Email Format</div>
          }
        </div>
        }
      </div>

      <div class="mb-2">
        <label for="passwordInput" class="form-label">Password</label>
        <input
          type="text"
          class="form-control"
          id="passwordInput"
          formControlName="password"
          placeholder="Enter your Password"
        />

        @if(signUpForm.controls['password'].invalid &&
        signUpForm.controls['password'].touched){
        <div class="form-text text-danger">
          @if(signUpForm.controls['password'].errors?.['required']){
          <small>This field is required</small>
          }@else if(signUpForm.controls['password'].errors?.["minlength"]){
          <div class="form-text text-danger">
            the password should be at least 8 characters
          </div>
          }
        </div>
        }
      </div>

      <button
        class="mb-2 mt-2 rounded-2"
        [disabled]="
          !(
            signUpForm.controls['firstName'].valid &&
            signUpForm.controls['lastName'].valid &&
            signUpForm.controls['email'].valid &&
            signUpForm.controls['password'].valid
          )
        "
      >
        Sign Up
      </button>
    </form>
  </div>
  <div class="text-center">
    <p>Already have an account ? <a routerLink="/login">Log In</a></p>
  </div>
</div>
