# Node.js
/node_modules
npm-debug.log
yarn-error.log

# Ignore frontend node_modules
/frontend/node_modules

# Compiled output
/dist

# IDE and editor files
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
/.vscode
.DS_Store
Thumbs.db
