<div class="container text-center mt-5">
  <div class="section-header my-5">
    <h2 class="mb-5">خدماتنا</h2>
    <p>فريقنا يصنع المستحيل ويبتكر المستقبل​</p>
  </div>
  <div class="services row">
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      <p>استشارات هندسية فى إعداد مخططات الرسومات التنفيذية</p>
    </div>

    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <p>اعمال تنفيذية و هندسية ادارة المشاريع</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-building" aria-hidden="true"></i>
      <p>مكتب هندسي للتصميم المعماري</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-cog" aria-hidden="true"></i>
      <p>إدارة العقود والمناقصات فى مكتب هندسي واحد</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <p>مكتب هندسي اعمال و تصميم الديكور الداخلي والخارجي</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <p>استشارات هندسية فى التصميم الانشائي</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <p>إعداد مخططات لمشاريع مختلفة فى مكتب هندسي واحد</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <p>مكتب هندسي لكافة مخططات هندسية</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <p>استشارات هندسية فى كل اعمال ثلاثة الابعاد</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <p>استشارات هندسية لاعمال حصر الكميات</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <p>مكتب هندسي لخدمات موقع بلدي وإصدار رخصة بناء</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <p>مكتب هندسي لكل أعمال الاشراف الهندسي و عقود الاشراف</p>
    </div>
    <div class="single-service col-lg-4 col-md-6">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <p>اعمال الرفع المساحى</p>
    </div>
  </div>
  <!-- end services -->
</div>
<!-- end container -->
