<!-- section-skills.component.html -->

<section id="sectionSkills" class="text-white">
  <div class="skillsdiv text-center">
    <div class="container row justify-content-center">
      <h2>MY SKILLS</h2>
      <p class="p-5 lh-lg">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem specimen Ipsum passages Letraset .
      </p>
      <div class="row mySkillsBars">
        <div class="col-md-6 text-center">
          <h3>Angular</h3>
        </div>
        <div class="col-md-6 text-center">
          <progress
            style="width: 80%; height: 30px"
            max="100"
            value="95"
          ></progress>
        </div>

        <div class="col-md-6 text-center">
          <h3>MongoDB</h3>
        </div>
        <div class="col-md-6 text-center">
          <progress
            style="width: 80%; height: 30px"
            max="100"
            value="95"
          ></progress>
        </div>

        <div class="col-md-6 text-center">
          <h3>Node.js</h3>
        </div>
        <div class="col-md-6 text-center">
          <progress
            style="width: 80%; height: 30px"
            max="100"
            value="90"
          ></progress>
        </div>

        <div class="col-md-6 text-center">
          <h3>Express.js</h3>
        </div>
        <div class="col-md-6 text-center">
          <progress
            style="width: 80%; height: 30px"
            max="100"
            value="90"
          ></progress>
        </div>
      </div>
    </div>
  </div>
</section>
