<div>
  <div class="loginpage rounded-2">
    <form [formGroup]="loginForm" (ngSubmit)="handleloginform()">
      <label for="email" class="mb-2">البريد الالكتروني</label>
      <input
        type="text"
        class="form-control mb-2"
        placeholder="ادخل البريد الالكتروني"
        formControlName="email"
      />
      @if(loginForm.controls['email'].invalid &&
      (loginForm.controls['email'].touched ||
      loginForm.controls['email'].dirty)){
      @if(loginForm.controls['email'].errors?.["required"]){
      <div class="alert alert-danger">يجب ادخال البريد الالكتروني</div>
      } @if(loginForm.controls['email'].errors?.["email"]){
      <div class="alert alert-danger">يجب ادخال البريد الالكتروني بشكل صحيح</div>
      } }
      <label for="password" class="mb-2">كلمة السر</label>
      <input
        type="password"
        class="form-control mb-2"
        placeholder="ادخل كلمة السر"
        formControlName="password"
      />
      @if(loginForm.controls['password'].invalid &&
      loginForm.controls['password'].touched){
      @if(loginForm.controls['password'].errors?.["required"]){
      <div class="alert alert-danger">يجب ادخال كلمة السر</div>
      }@else if(loginForm.controls['password'].errors?.["minlength"]){
      <div class="alert alert-danger">
        يجب ادخال على الاقل 8 حروف لكلمة السر
      </div>
      } }

      <button
        class="mb-2 mt-2 rounded-2"
        [disabled]="
          !(
            loginForm.controls['email'].valid &&
            loginForm.controls['password'].valid
          )
        "
      >
        تسجيل الدخول
      </button>
    </form>
  </div>
  <div class="text-center">
    <p>ليس لديك حساب ؟  <a routerLink="/signup">انشئ حساب</a></p>
  </div>
</div>
