<div>
  <div class="loginpage rounded-2">
    <form [formGroup]="loginForm" (ngSubmit)="handleloginform()">
      <label for="username" class="mb-2"> اسم المستخدم</label>
      <input
        type="text"
        class="form-control mb-2"
        placeholder="ادخل اسم المستخدم"
        formControlName="username"
      />
      @if(loginForm.controls['username'].invalid &&
      (loginForm.controls['username'].touched ||
      loginForm.controls['username'].dirty)){
      @if(loginForm.controls['username'].errors?.["required"]){
      <div class="alert alert-danger">يجب ادخال اسم المستخدم</div>
      }}
      <label for="password" class="mb-2">كلمة السر</label>
      <input
        type="password"
        class="form-control mb-2"
        placeholder="ادخل كلمة السر"
        formControlName="password"
      />
      @if(loginForm.controls['password'].invalid &&
      loginForm.controls['password'].touched){
      @if(loginForm.controls['password'].errors?.["required"]){
      <div class="alert alert-danger">يجب ادخال كلمة السر</div>
      }@else if(loginForm.controls['password'].errors?.["minlength"]){
      <div class="alert alert-danger">
        يجب ادخال على الاقل 8 حروف لكلمة السر
      </div>
      } }

      <button
        class="mb-2 mt-2 rounded-2"
        [disabled]="
          !(
            loginForm.controls['username'].valid &&
            loginForm.controls['password'].valid
          )
        "
      >
        تسجيل الدخول
      </button>
    </form>
  </div>
  <div class="text-center">
    <p>ليس لديك حساب ؟ <a routerLink="/signup">انشئ حساب</a></p>
  </div>
</div>
