
<nav class="fixed-top navbar navbar-expand-lg navbarstyle navbar-dark bg-main shadow p-2 px-5 justify-content-center align-items-center align-content-center">
  <div class="container px-5 ">
    <img class="navbar-brand" src="../../assets/images/navlogo.png" width="80" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0 mx-auto ml-0">
      <input
        class="form-control mr-sm-5 navbar-search"
        type="search"
        placeholder="بحث عن مشروع"
        aria-label="Search"
      />
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            >الرئيسية</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contact"
            >تواصل معنا</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/services"
            >خدماتنا</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about"
            >من نحن</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/portfolio"
            >أعمالنا</a
          >
        </li>
        @if(isLoggedIn && role == 'client'){
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/addclientproject"
              >اضافة مشروع</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/viewclientprojects"
              >رؤية المشاريع</a
            >
          </li>
        }
      </ul>
      <form class="d-flex">
        @if (!isLoggedIn){
        <button (click)="viewLogin()">تسجيل دخول</button>
        <!-- <button (click)="viewSignup()">انشئ حساب</button> -->
        <div ngbDropdown class="d-inline-block pt-1 login-btn mx-2">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            انشئ حساب
          </button>

          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="ngbDropdownMenu p-2 bg-dark"
          >
            <a
              class="nav-link pb-2"
              aria-current="page"
              routerLink="employeesignup"
              >موظف</a
            >
            <a class="nav-link" aria-current="page" routerLink="usersignup"
              >عميل</a
            >
          </div>

        </div>
      }

        @if(isLoggedIn && role == 'client'){
          <button (click)="logOut()">تسجيل خروج</button>
        }
        <li class="nav-item dropdown px-3 pe-4">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-bell translate-middle-y"></i>
            <span class="badge bg-danger translate-middle-y">4</span>
            <!-- Add a badge for unread notifications -->
          </a>
          <div
            class="dropdown-menu dropdown-menu-end notification-ui_dd bg-dark text-light"
            aria-labelledby="navbarDropdown"
          >
            <div class="notification-ui_dd-header">
              <h3 class="text-center">Notification</h3>
            </div>
            <div class="notification-ui_dd-content">
              <div class="notification-list notification-list--unread">
                <div class="notification-list_img">
                  <img src="https://i.imgur.com/zYxDCQT.jpg" alt="user" />
                </div>
                <div class="notification-list_detail p-2">
                  <p><b>John Doe</b> reacted to your post</p>
                  <p><small>10 mins ago</small></p>
                </div>
                <div class="notification-list_feature-img">
                  <img
                    src="https://i.imgur.com/AbZqFnR.jpg"
                    alt="Feature image"
                  />
                </div>
              </div>
              <!-- Add more notification items here -->
            </div>
            <div class="notification-ui_dd-footer">
              <a href="#!" class="btn btn-success btn-block">View All</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown px-3">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-user translate-middle-y"></i>
          </a>
          <div
            class="dropdown-menu dropdown-menu-end bg-dark"
            aria-labelledby="userDropdown"
          >
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>

      </form>
    </div>
  </div>
</nav>
