<nav class="navbar navbar-expand-lg navbarstyle">
  <div class="container">
    <img src="../../assets/images/navlogo.png" width="80" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            >الرئيسية</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contact"
            >تواصل معنا</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/services"
            >خدماتنا</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about"
            >من نحن</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/portfolio"
            >أعمالنا</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button (click)="viewLogin()">تسجيل دخول</button>
        <button (click)="userSignup()">انشئ حساب</button>
      </form>
    </div>
  </div>
</nav>
