<nav class="navbar navbar-expand-lg navbarstyle">
    <div class="container">
      <img src="../../assets/images/navlogo.png" width="80" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
        </ul>
        <form class="d-flex">
          <button (click)="viewLogin()">Log in</button>
          <button (click)="viewSignup()">register</button>
        </form>
      </div>
    </div>
  </nav>