<div class="contactpage mt-5">
    <h2>للتواصل معنا</h2>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <p>contact&#64;4thpyarmids.com</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>السعودية:  0554183175 </p>
                    <p>مصر :01128739311</p>
                    <p>مصر :01550822640</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card address">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>مقر الرياض : المركز الرئيسي مدينة الرياض _حي السويدي الغربي _شارع حمزه بن عبد المطلب </p>
                    <p>وفرعه بمحافظة القويعيه :شارع الملك عبد العزيز</p>
                    <p>مكتب القاهره :القاهره -7 عمارات الشرطه-جسر السويس</p>
                </div>
            </div>
        </div>
        <h2 style="margin-top: 20px;">لطلبات التسعير برجاء ارسال رسالة</h2>
        <form class="mt-5">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <input type="text" placeholder="برجاء ادخال الاسم" class="form-control" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <input type="text" placeholder="برجاء ادخال البريد الالكتروني" class="form-control" />
                </div>
                <div class="col-md-12">
                    <textarea class="form-control" placeholder="برجاء ترك رسالة" rows="10" cols="10"></textarea>
                </div>
            </div>
            <button class="sendbutton"> <i class="fa fa-paper-plane" aria-hidden="true"></i>
                ارسال طلب</button>
        </form>
    </div>
</div>