@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --body-background-color: #181f35;
  --body-background-color-transparent: rgba(24, 31, 53, 0.5); /* Corrected */
  --offwhite-color: rgb(240, 240, 240);
  --bg-main-color: #20263b;
  --titles-primary: #eb901a;
}

body {
  padding-top: 74px;
  font-family: "Roboto", sans-serif;
  color: var(--offwhite-color);
  min-height: 100vh;
  position: relative;
  /* Background Image and Overlay */
  background: var(--body-background-color);
  background-image:linear-gradient(rgba(24, 31, 53, .3), rgba(24, 31, 53, 0.7)), url("./assets/images/background/background-11111.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

h2 {
  color: var(--titles-primary) !important;
  filter: drop-shadow(0px 1px 0px black);
}

p {
  filter: drop-shadow(0px 1px 0px black);
}
