/* You can add global styles to this file, and also import other style files */
/* === */
/* Added styles for dark mode */

section {
  padding-top: 60px;
  padding: 56px;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-black {
  background-color: #121415 !important;
}

.text-light {
  color: #ffffff;
}
