<footer class=" d-flex  p-4 shadow position-">
  <div class="row align-items-center">
    <div class="left col-lg-6 mx-5 text-center row justify-content-center align-items-center">
      <img src="../../assets/images/navlogo.png" alt="" class="col-12" />
      <h2 class="h4 col-12">شركة الهرم الرابع للاستشارات الهندسية</h2>
      <div class="social-icons col-md-6">
        <a href="https://www.facebook.com/4thpyramidd/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/4thpyarmid">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.instagram.com/4th_pyramid1?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.youtube.com/channel/UCvYRfIrNonoZOIpFPVB9uBw/featured"
        >
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/4thpyramid/">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div
      class="right col-lg-4 col-md-6 d-flex flex-column justify-content-center"
    >
      <div class=" mb-1">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span>
          المركز الرئيسي : مدينة الرياض _حي السويدي الغربي _شارع حمزه بن عبد
          المطلب
        </span>
      </div>
      <div class="mb-1">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span> فرع محافظة القويعيه :شارع الملك عبد العزيز </span>
      </div>
      <div class="mb-1">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span> السعودية: 0554183175 </span>
      </div>
      <div class="">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <span> contact&#64;4thpyarmids.com </span>
      </div>
    </div>
  </div>
  <!-- end row -->
</footer>
