<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      </li>
      <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="currentPage === page">
        <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </li>
    </ul>
  </nav>
  